* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(71, 68, 68, 0.3);
	font-family: sans-serif;
	padding: 50px;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
}

h2 {
	margin-bottom: 15px;
}

.container {
	max-width: 800px;
	margin: auto;
	border: 1px solid brown;
	border-radius: 30px;
	display: flex;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 30px 20px;
	align-items: center;
}

.input-wrapper {
	width: 70%;
	padding: 20px;
}

.text-todo {
	width: 80%;
	padding: 12px 16px;
  	font-size: 16px;
  	border-radius: 8px;
}

.button-wrapper { 
	margin: 0 auto; 

}

.main-cta {
	padding: 12px 16px;
  	font-size: 16px;
  	border-radius: 8px;
}

.list-preview {
	padding: 50px 0;
}

.todo-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 12px 16px;
	border-radius: 8px;
}

.delete-btn {
	background-color: crimson;
	color: white;
	border: none;
	padding: 6px 10px;
	border-radius: 6px;
	cursor: pointer;
}



